<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>502210830112-f2eoe47fb8kk6cibgkmo8p83lf0q3gka.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.502210830112-f2eoe47fb8kk6cibgkmo8p83lf0q3gka</string>
	<key>API_KEY</key>
	<string>AIzaSyDhar7Cp4HvTfymiI2EBRIKz2rduYCYTnc</string>
	<key>GCM_SENDER_ID</key>
	<string>502210830112</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.spotifyApp</string>
	<key>PROJECT_ID</key>
	<string>spotify-plus-c5e93</string>
	<key>STORAGE_BUCKET</key>
	<string>spotify-plus-c5e93.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:502210830112:ios:a4775385e1fcbf12178145</string>
	<key>DATABASE_URL</key>
	<string>https://spotify-plus-c5e93-default-rtdb.firebaseio.com</string>
</dict>
</plist>